@{
    ViewData["Title"] = "Home Page";
}
<style>
       body {
            background-image: url('/Img/2.jpg');
            background-repeat: no-repeat;
            background-size:cover;
        }
</style>
<body>
    <div class="container" style="padding:40px">
        <div style="color:rgb(37, 21, 177);font-family:Cooper; font-size:50px; font-weight:bold;text-align:center"> مرحبا بك  </div>
        </div>
</body>

