@model Login
@{
	Layout = null;
}

<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/login.css" rel="stylesheet" />
	<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<div class="container">
	<div class="screen">
		<div class="screen__content">
			<form class="login" asp-action="Login">
				<div class="login__field">
					<i class="fa fa-user"></i>
					<input type="text" asp-for="UserName" class="login__input" placeholder="اسم المستخدم">
					<span asp-validation-for="UserName" class="text-danger"></span>
				</div>
				<div class="login__field">
					<i class="fa fa-lock"></i>
					<input type="password" asp-for="Password" class="login__input" placeholder="الرقم السري">
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>
				<button class="button login__submit">
					<span class="button__text" >دخول</span>
					<i class="fa fa-chevron-right"></i>
				</button>
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
	</div>
</div>


@section Scripts{
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
