<form id="NewOrderForm">
    <div class="modal-body">
        <h5 style="color:#ff6347">بيانات الشراء <span style=" float : right; color:black"> معامله  جديده</span></h5>
        <hr />
        <div class="form-horizontal">
            <input type="hidden" id="CustomerId" />
            <div class="form-group">
                <label class="control-label col-md-2">
                    الاسم
                </label>
                <div class="col-md-4" style="display:inline-block">
                    <input type="text" id="name" name="name" placeholder="الاسم" class="form-control" />
                </div>
                <label class="control-label col-md-2">
                    رقم الهاتف
                </label>
                <div class="col-md-3" style="display:inline-block">
                    <input type="text" id="Phone" name="Phone" placeholder="رقم الهاتف" class="form-control" />
                </div>
                <label class="control-label col-md-2">
                    خصم
                </label>
                <div class="col-md-2" style="display:inline-block">
                    <input type="number" id="discount" name="discount" placeholder="الخصم" class="form-control" oninput="disc()" />
                </div>
                <div class="col-md-2" style="display:inline-block"></div>
                <label class="control-label col-md-2">
                    المدفوع
                </label>
                <div class="col-md-3" style="display:inline-block">
                    <input type="number" id="paid" name="paid" placeholder="المدفوع" class="form-control" />
                </div>
            </div>
        </div>
        @*Order Details*@
        <h5 style="color:#ff6347">تفاصيل الشراء</h5>
        <hr />
        <div class="form-horizontal">
            @* <input type="hidden" id="OrderId" />*@
            <input type="hidden" id="productId" />
            <input type="hidden" id="itemid" />

            <div class="row">
                <label class="control-label col-md-2">
                    المنتج
                </label>
                <div class="col-md-9" style="margin-bottom:2px">
                    <input type="text" id="productName" name="productName" placeholder="اسم المنتج" class="form-control" onfocusout="getid()" />
                </div>
                @if (ViewBag.isbuy)
                {
                    <label class="control-label col-md-2">
                        المخزن
                    </label>
                    <div class="scrollable col-md-2" style="display:inline-block; margin-bottom:2px">
                        <select id="storeid" name="storeid" class="form-control dropdown-toggle">
                        </select>
                    </div>
                }
                <label class="control-label col-md-2">
                    الوحده
                </label>
                <div class="scrollable col-md-2" style="display:inline-block; margin-bottom:2px">
                    <select id="measureId" name="measure" class="form-control dropdown-toggle" onchange="addprice(1)">
                    </select>
                </div>
                <label class="control-label col-md-1">
                    اللون
                </label>
                <div class="scrollable col-md-2" style="display:inline-block; margin-bottom:2px">
                    
                    <select id="colorId" class="form-control dropdown-toggle" onchange="addprice(0)">
                    </select>
                </div>
                
            </div>
            <div class="row" style="margin-bottom:2px">
                @if (ViewBag.isbuy)
                {
                    <label class="control-label col-md-2">
                        سعر الشراء
                    </label>
                    <div class="col-md-2" style="display:inline-block; margin-bottom:2px">
                        <input type="number" id="buyprice" name="price" placeholder="سعر الشراء" class="form-control" />
                    </div>
                }
                <label class="control-label col-md-2">
                    السعر
                </label>
                <div class="col-md-2" style="display:inline-block; margin-bottom:2px">
                    <input type="number" id="price" name="price" placeholder="السعر" class="form-control" />
                </div>
                <label class="control-label col-md-1" id="l">
                    الكميه
                </label>
                <div class="col-md-2" style="display:inline-block">
                    <input type="number" id="quantity" name="quantity" placeholder="الكميه" class="form-control" />
                </div>
                <div class="col-md-2" >
                    <a id="addToList" class="btn btn-primary">اضافه</a>
                </div>
                <div class="above">
                    <div class="loader"></div>
                </div>
            </div>
        </div>
        <div style="float:left;font-size:30px"> <a href="#" onclick="send()"><i class="fa fa-print"></i></a></div>
        <table id="detailsTable" class="table table-striped">
            <thead>
                <tr style="background-color:#6471b1;color:black">
                    <th>م</th>
                    <th style="width:40%">المنتج</th>
                    <th style="width:10%">الوحده</th>
                    <th>اللون</th>
                    <th style="width:10%"> الكميه</th>
                    <th style="width:10%">السعر</th>
                    @if (ViewBag.isbuy)
                    {
                        <th style="width:10%">سعر الشراء</th>
                    }
                    <th style="width:20%">السعر الكلي</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="row">
            <div class="col-md-2">
                <label>السعر بعد الخصم</label>
                <input class="form-control" style=" width:120px;height:30px" id="distotal" disabled />
            </div>
            <div class="col-md-7">

            </div>
            <div class="col-md-2">
                <label>السعر الكلي</label>
                <input class="form-control" style=" width:120px;height:30px" id="total" disabled />
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="reset" class="btn btn-default" data-dismiss="modal">الغاء</button>
        <button id="saveOrder" type="submit" class="btn btn-danger">حفظ الفاتوره</button>
    </div>
</form>
<script>
    var total=0;
    function disc() {
        var disval = parseFloat($("#discount").val());
        if (disval != 0) {
            total = parseFloat($("#total").val());
            if (total != 0) {
                $("#distotal").val((total - disval).toFixed(2));
            }
        }
    }
    
      $("#addToList").click(function (e) {
          total=0;
                var selectedQuantity = 0.0;
                e.preventDefault();
                var y = 0;
                if ($.trim($("#productName").val()) == "" || $.trim($("#price").val()) == "" || $.trim($("#quantity").val()) == "") { alert("تاكد من ادخال القيم "); return; }
                
                if(!isbuy){
                 if ($("#quantity").val() > itemquantity || itemquantity == 0) { alert("قمية الكميه اكبر من الموجوده بالمخزن");  $("#quantity").val("");return ; }
                    if ($("#productId").val() == "") { alert("من فضلك تاكد من اختيار العنصر من القائه"); return; }
                    if ($("#quantity").val() <= 0) { alert("لا يمكن ان تكون الكميه 0 او اقل"); return; }
                    if (itemquantity < parseInt($("#quantity").val() * forcartona)) { alert("قمية الكميه اكبر من الموجوده بالمخزن"); return; }
                }
                //putting data into the table ----------------------------------
                        var productName = $("#productName").val(),
                             price=0.0;
                        if(isbuy){
                             price = parseFloat($("#buyprice").val());
                        }
                         else{
                           price = parseFloat($("#price").val());
                         }
                    var quantity =parseFloat($("#quantity").val()),
                    categoryid = $("#productId").val(),
                    measureName = $("#measureId option:selected").text(),
                    colorname = $("#colorId option:selected").text(),
                    detailsTableBody = $("#detailsTable tbody"),
                    breakit=0;
                //check the data
                if(!isbuy){
                    $.each($("#detailsTable tbody tr"), function () {
                        if ($(this).find('td:eq(11)').html() == itemid) {
                            selectedQuantity = selectedQuantity + quantity + parseFloat($(this).find('td:eq(4)').html());
                            if (itemquantity < selectedQuantity) {
                                        alert("الكميه اكبر من  الموجوده بالمخزن"); y = 1; return
                            }
                        }
                        if ($(this).find('td:eq(11)').html() == itemid && $(this).find('td:eq(5)').html() == price && $(this).find('td:eq(1)').html().localeCompare(productName)) {
                            $(this).find('td:eq(4)').html(selectedQuantity);
                            $(this).find('td:eq(6)').html(selectedQuantity * price);
                            breakit=1;
                        }
                    });
                }
                if (y == 1) { return; }
                x = x + 1;
                totalbill = totalbill + price * quantity * parseFloat(forcartona);
                $("#total").val(totalbill.toFixed(2));
                if(breakit==0)
                {
                    var productItem = '<tr><td> ' + x + '</td><td>' + productName + '</td><td>' + measureName + '</td><td>' 
                    + colorname + '</td><td>' + quantity * parseFloat(forcartona) + '</td><td>' + price + '</td><td>' 
                    + (price*quantity * parseFloat(forcartona)).toFixed(2) 
                    + '</td><td><a data-itemId="0" href="#" class="deleteItem" style="color:red"> حذف </a></td><td style=" display: none">' 
                    + categoryid + '</td><td style="display: none">' + measureid + '</td><td style="display: none">'
                    + colorid + '</td><td style="display: none">' + $("#price").val() + '</td><td style="display: none">'
                + $("#check").is(":checked") + '</td><td style="display: none">' + itemquantityid + '</td><td style="display: none">' + $("#storeid").val() + '</td> </tr>';
                    detailsTableBody.append(productItem);
                }
                clearItem();
            });
            //forcheckbox----------------------------------------------------------------------
            //function ischecked() {
            //    measureid = $("#measureId").val();
            //    var checkbox = $("#check").is(":checked");
            //    if (checkbox == false) 
            //        forcartona = 1;
            //    if (checkbox == true) {
            //        $.ajax({
            //            type: "POST",
            //            data: { id: id },
            //            url: "/Bills/getmesure",
            //            success: function (cartona) {
            //                if (cartona != "") 
            //                    forcartona = cartona;
            //                 else {
            //                    alert("لاتوجد وحدة قياس اعلي منهااااا او غير مسجله من فضلك تاكد لعدم حودث خطا");
            //                    return;
            //                }
            //            },
            //            error: function () {
            //            }
            //        });
            //    }
            //}
            //After Add A New Order In The List, Clear Clean The Form For Add More Order.
            function clearItem() {
                $("#quantity").attr("placeholder",'');
                $("#productName").val('');
                $("#price").val('');
                $("#buyprice").val('');
                $("#quantity").val('');
                $("#measureId").empty();
                $("#colorId").empty();
                //$("#measureId").val('');
                $("#measureName").val('');
                $("#productId").val('');
                $("#check").prop('checked', false);
                forcartona = 1;
            }
            // After Add A New Order In The List, If You Want, You Can Remove It.
            $(document).on('click', 'a.deleteItem', function (e) {
                e.preventDefault();
               /* var $self = $(this);*/
                if ($(this).attr('data-itemId') == "0") {
                    $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                        $(this).remove();
                        totalbill = totalbill - $(this).find('td:eq(6)').html();
                        $("#total").val(totalbill.toFixed(2));
                        x = x - 1;
                    });
                }
            });
            //After Click Save Button Pass All Data View To Controller For Save Database
            //Collect Multiple Order List For Pass To Controller
            function send() {
                if ($("#name").val() == "") { alert("لايوجد اسم"); return; }
                var username = "@User.Identity.Name";
                var discount = $("#discount").val();
                if (discount == "")
                    discount = 0;
                var priceafterdis = 0.0;
                priceafterdis = parseFloat($("#distotal").val()).toFixed(2);
                if (isNaN(priceafterdis))
                    priceafterdis = parseFloat($("#total").val()).toFixed(2);
                var popupWin = window.open('', '_blank', 'width=900,height=900,location=no');
                //  var x = window.matchMedia("(size:A3 portrait,margin-top:4mm,margin-bottom: 135mm)");
                popupWin.document.open();
                var body = "";
                var index = 0;
                $.each($("#detailsTable tbody tr"), function () {
                    ++index;
                    body += "<tr><td>" + $(this).find('td:eq(0)').html() + "</td>"
                        + "<td>" + $(this).find('td:eq(1)').html() + "</td>"
                        + "<td>" + $(this).find('td:eq(2)').html() + "</td>"
                        + "<td>" + $(this).find('td:eq(3)').html() + "</td>"
                        + "<td>" + parseFloat($(this).find('td:eq(4)').html()).toFixed(2) + "</td>"
                        + "<td>" + parseFloat($(this).find('td:eq(5)').html()).toFixed(2) + "</td>"
                        + "<td>" + $(this).find('td:eq(6)').html() + "</td>"
                        + "<td></td></tr>"
                })
                    "owner"
                    "place"
                    "brand"
                    "company"
                    "numbers"
                var html = '<html>'
                    + "<style>"
                    + "body{ direction: rtl;}"
                    + "span {padding: 10px;}"
                    + ".p{ border: 1px solid black;border-radius: 15px;text-align: center}"
                    + "th,td {height:13px; border: 1px solid black;font-size:20px}"
                    + "table{text-align:center; border-collapse: collapse;margin: 0 auto;}"
                    + "@@page { size: A3 portrait; margin-top:5mm; margin-bottom: 136mm; margin-right: 46mm; margin-left:48mm}"
                    +"</style>"
                    + '<body>'
                    +"<div></div>"
                    + "<table id='printedtable'>"
                    +"<thead>"
                    + '<tr><th colspan = "8" >'
                    + ' <div class="p">'
                    + '<div style="display: flex;align-items: center;">'
                    + '<span>'
                    + '<span id="brand" style=font-size:28px></span>'
                    +'<br/>'
                    +'<span id="company"> </span> '
                    + '<br />'
                    + '<span id="title"> </span>'
                    + '<br />'
                    + '<span id="owner"> </span>'
                    + '<br />'
                    + '<span id="place"></span>'
                    +'</span>'
                    + ' <span id="brandimage" style="float:left;">'
                    + ' </span>'
                    + '</div>'
                        +"</div>"
                         +"</th>"
                    + "</tr>"
                    + "<tr>"
                    + "<td colspan='3' > اسم العميل : " + $("#name").val() + " </td>"
                    + "<td colspan='3' > اسم الموظف : " + username + " </td>"
                    + "<td colspan='2' > عدد العناصر : " + index + " </td>"
                    + "</tr>"
                    + "<tr><td>م</td><td>المنتج</td><td>الوحده</td><td>اللون</td><td>الكميه</td><td >السعر</td><td>السعر الكلي</td><td>ملاحظات</td>"
                    + "</tr>"
                    + "</thead>"
                    + "<tbody>"
                    + body
                    + "</tbody>"
                    + "<tfoot>"
                    + "<tr style='background-color:lightgray'><td  colspan='3'> اجمالي السعر : " + $("#total").val() + " جنيه </td>"
                    + "<td  colspan='3'> السعر بعد الخصم :" + priceafterdis + " جنيه</td>"
                    + "<td  colspan='2'> قيمه الخصم  :" + discount + " جنيه</td>"
                    + "</tr>"
                    +"</tfoot>"
                    + "</table>"
                    + ' <span id="numbers" style="font-size:17px;float:left"><span > <img src="/Img/Screenshot_2021-01-10-11-15-59-06.jpg" width="30" height="30" /> </span >        </span >'
                    + "<div></div>"
                    + '</html>';
                popupWin.document.write(html);
                $.ajax({
                    type: 'POST',
                    url: "/Bills/GetBrandImages",
                    success: function (data) {
                     popupWin.document.getElementById("title").append(data.title);
                      popupWin.document.getElementById("owner").append(" ادارة أ/" + data.owner);
                     popupWin.document.getElementById("place").append(data.place);
                     popupWin.document.getElementById("brand").append(data.brandName);
                     popupWin.document.getElementById("company").append(data.company);
                     var imdnumbers= popupWin.document.getElementById("numbers").innerHTML;
                     popupWin.document.getElementById("numbers").append(+" " + data.first_PhoneNumer + " : " + data.second_PhoneNumber);
                      var img ;
                       $.each(data.brandImages, function (index, val) {
                           var img = document.createElement("img");
                           img.src = val.stringImage;
                           img.height = 70;
                           img.width = 100;
                           popupWin.document.getElementById("brandimage").append(img);
                                });
                                 img.onload=function (){popupWin.window.print();}
                        },
                });
             popupWin.document.close();
                 
       }
            // the form of data i reseve---------------------------------------------------
            $("#saveOrder").click(function (e) {
                e.preventDefault();
                //if ($("#paid").val() == "") { alert("يجب ان يكون هناك مدفوعات"); return; }
                if ($("#name").val() == "") { alert("لايوجد اسم"); return; }
                     var billItems = [];
               // purchases.length = 0;
                $.each($("#detailsTable tbody tr"), function () {
                    var BillItem = new Object();
                  //  BillItem.ItemId = $(this).find('td:eq(11)').html();
                    BillItem.ItemName = $(this).find('td:eq(1)').html();
                     BillItem.ItemQuantityId = $(this).find('td:eq(13)').html();
                    BillItem.Quantity = $(this).find('td:eq(4)').html();
                    if(isbuy)
                    {
                        BillItem.SalePrice = $(this).find('td:eq(11)').html();
                        BillItem.BuyPrice = $(this).find('td:eq(5)').html();
                        BillItem.StoreId = $(this).find('td:eq(14)').html();
                       BillItem.MeasureId=$(this).find('td:eq(9)').html();
                       BillItem.ColorId=$(this).find('td:eq(10)').html();
                    }else{
                           
                        BillItem.SalePrice = $(this).find('td:eq(5)').html();
                    }
                    BillItem.IsDelete = false;
                    billItems.push(BillItem)
                });
                  if (billItems.length == 0) { alert("لاتوجد بيانات مسجله "); return; }
                $(".loader").css("display", "flex");
                $("#saveOrder").prop('disabled', true);
                var bill = new Object();
                bill.Discount = $("#discount").val();
                bill.Pay = $("#paid").val();
                //bill.iscard = false;
                bill.IsBuy = isbuy;//---------------------------------------------->there
                bill.IsDelete = false;
                bill.Customer = new Object();
                bill.Customer.Name = $("#name").val();
                bill.Customer.PhoneNumber = $("#Phone").val();
                bill.Customer.IsBuy = !isbuy;
                bill.BillItems = billItems;
                $.when(saveOrder(bill)).then(function (response) {
                }).fail(function (err) {
                    // console.log(err);
                });
            });
            function saveOrder(bill) {
                return $.ajax({
                    type: 'POST',
                    url: "/Bills/CreateBill",
                    data: bill,
                    success: function () {
                        $(".loader").css("display", "none");
                        $("#saveOrder").prop('disabled', false);
                        location.reload();
                    },
                    error: function () {
                        alert("Error!");
                        $(".loader").css("display", "none");
                        $("#saveOrder").prop('disabled', false);
                    }
                });
            }
            $("#productName").autocomplete({
                appendTo: $("#mymodal"),
               
                source: function (request, response) {
                     $.ajax({
                        url: "/Bills/AutoComplete",
                        dataType: "json",
                        data: { search: $("#productName").val() },
                        success: function (data) {
                            response($.map(data, function (item) {
                               return { label: item.categoryName, value: item.categoryName };
                            }));
                        },
                        error: function (xhr, status, error) {
                            alert("Error");
                        }
                    });
                },
                select: function (event, ui) {
                    $.ajax({
                        url: "/Bills/GetItemId",
                        dataType: "json",
                        data: { name: ui.item.value },
                        success: function (data) {
                            if (data != false) {
                                 $("#productId").val(data.categoryId);
                                 getMeasuresForchoiceItem(data.categoryId);
                            }
                        },
                    });
                }
            })
    function getid() {
        if(isbuy){
            $.ajax({
                url: "/Bills/GetItemId",
                dataType: "json",
                data: { name: $("#productName").val() },
                success: function (data) {
                        GetStore()
                        getMeasuresForchoiceItem();
                    //  alert(JSON.stringify(data, null, 2));
                    //if (data != false) {
                    //    $("#productId").val(data.categoryId);
                    //    // $("#productName").val(data.categoryName);
                    //    getMeasuresForchoiceItem(data.categoryId);
                    //}
                },
                error: function (xhr, status, error) {
                    // alert("Error");
                }
            });
        }
    }
    function GetStore() {
        $("#storeid").empty();
        var items = '';
        $.ajax({
            url: "/Bills/GetStores",
            dataType: "json",
            success: function (data) {
                $.each(data, function (i, statlist) {
                    if (statlist != null) {
                        items += '<option value=' + statlist.storeId + '>' + statlist.storeName + '</option >'
                        $("#storeid").html(items);
                    }
                });
            }
        });
    }
    function getMeasuresForchoiceItem(categoryid) {
      
        $("#measureId").empty();
        var items = '';
        $.ajax({
            url: "/Bills/MeasureFilters",
            dataType: "json",
            data: { categoryid: categoryid,isbuy },
            success: function (data) {
               $.each(data, function (i, statlist) {
                    if (statlist != null) {
                            items += '<option value=' + statlist.measureId + '>' + statlist.measureName + '</option >'
                        $("#measureId").html(items);
                    }
                });
                getColorForchoiceItem(categoryid, $("#measureId").val());
            }
        });
    }
    function getColorForchoiceItem(categoryid, measureid) {
        $("#colorId").empty();
        //  var repeat = 0;
        var items = '';
        $.ajax({
            url: "/Bills/ColorFilters",
            dataType: "json",
            data: { categoryid: categoryid, measureid: measureid,isbuy },
            success: function (data) {
                $.each(data, function (i, statlist) {
                    if (statlist != null) {
                        items += '<option value=' + statlist.colorId +  '>' + statlist.colorName + '</option >'
                        $("#colorId").html(items);
                    }
                });
                addprice();
            }
        });
    }
    var onetime=0
    function addprice(i) {
        //to know where the change can apply
        //from measure i want to filter the color
            var categoryid = $("#productId").val();
            measureid = $("#measureId").val();
            colorid = $("#colorId").val();
        if (i == 1){
            //$("#check").prop('checked', false);
             getColorForchoiceItem(categoryid, measureid);
        }
        if (colorid != null&&categoryid!=null&& measureid!=null) {
            $.ajax({
                url: "/Bills/GetPrice",
                dataType: "json",
                data: { categoryid,measureid,colorid },
                success: function (data) {
                    itemquantityid = 0;
                    itemquantity=0;
                   // alert(JSON.stringify(data, null, 2));
                    if(data==null&&!isbuy&&onetime==0)
                    {
                        alert("هذا المنتج غير موجود "); 
                        $("#price").val("");
                        $("#quantity").attr("placeholder", "");
                        onetime=1;
                    }
                  else if(data!=null){
                    $("#price").val(data.salePrice);
                    $("#buyprice").val(data.buyPrice);
                    $("#quantity").attr("placeholder", data.quantity);
                    itemquantity = data.quantity;
                   // itemid=data.itemId;
                    itemquantityid=data.itemQuantityId;
                    }
                  //  ischecked();
                   // getcolorname(colorid);
                },
                error: function (xhr, status, error) {
                    alert("لايوجد وحدات ");
                }
            });
        }
    }
      
</script>